.Button {
    grid-column: 1/-1;
    grid-row: 2/3;

    min-width: 420px;
    height: 35px;
    border: none;
    background-color: transparent;
    font-size: 35px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.Button:hover {
    color: blueviolet;
    font-size: 40px;
}